:root {
    /* Paleta de Colores */
    --color-principal-azul: #223F61;
    --color-acento-azul: #93B6EE;
    --color-acento-naranja: #E78C3B;
    --color-blanco-neutro: #F3F2EE;
    --color-humo-gris: #CDCDCD;

    /* Tonalidades del Azul */
    --azul-ligero: #BCD0E7;
    --azul-claro: #9EACCC;
    --azul-suave: #8199B1;
    --azul-normal: #698197;
    --azul-medio: #526A7E;
    --azul-oscuro: #3B5267;
    --azul-profundo: #2C465E;
    --azul-intenso: #193149;

    /* Tonalidades del Naranja */
    --naranja-ligero: #FFE0BD;
    --naranja-claro: #FCD8A2;
    --naranja-suave: #F8C689;
    --naranja-normal: #F3B470;
    --naranja-medio: #EFA259;
    --naranja-oscuro: #E78C3B;
    --naranja-fuerte: #CC7C32;
    --naranja-intenso: #B26C28;
    --naranja-oscuro-intenso: #985C1F;

    /* Tipografía */
    --fuente-principal: 'Helvetica Neue Cond. Bold', sans-serif;
    --fuente-secundaria: 'Marion Regular', serif;
}

* {
    background: var(--color-principal-azul);
    margin: 0;
}

header {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: aliceblue;
}

.container-logo {
    height: 160px;
    width: 90%;
    padding: 60px 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.key:hover {
    fill:var(--color-humo-gris);
}

.menu-icon {
    height: 200px;
    width: 90%;
    padding: 0 300px 0 0;
    display: flex;
    justify-content:right;
}

.icon {
    height: 40px;
    padding: 30px;
    fill: var(--azul-ligero);
    justify-content:center;
    align-items:center;
}


.icon:hover {
    fill: #EFA259;
    stroke: var(--naranja-medio);
}


@media (max-width:700px) {
    header {
        flex-direction: column;
    }
}